<div class="messages-list">
    <input type="text" name="search" id="" placeholder="Pesquisar mensagens" class="messages-list__search" />
    <ul class="messages-list__items">
        <li class="message-item">
            <span class="message-date">10-06-2025</span>
            <span class="mensage-preview">Este é um preview da mensagem</span>
        </li>
        <li class="message-item">
            <span class="message-date">10-06-2025</span>
            <span class="mensage-preview">Este é um preview da mensagem</span>
        </li>
    </ul>
</div>