.chat-header {
  height: var(--header-height); /* 86px */
  max-height:var(--header-height);
  background-color: var(--color-primary-500);
  color: var(--text-inverse);
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 99;
  transition: var(--transition-normal);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

.header-title{
    font-size: var(--text-xl);
    font-weight: var(--font-weight-bold);
    line-height: 0rem;
}