/**
O chat container deve ocupar toda a área disponível, exceto o cabeçalho e o rodapé.
*/
.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: hidden;
  background-color: red;
}

.chat-inout-area{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: aliceblue;
}