.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8.6rem;
    background: var(--color-neutral-100);
    color: var(--color-neutral-0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-sm);
    z-index: 1000;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 var(--space-4);
    box-sizing: border-box;
}

.footer-actions{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: var(--space-4);
    padding: 0px;
    margin: 0px;
}