<footer class="footer">
    <div class="footer-container">
        <ul class="footer-actions">
            <li>
                <app-button label="Enviar" [icon]="'ph ph-chat-circle'" [variant]="'tertiary'"></app-button>
            </li>
            <li>
                <app-button label="Conversas" [icon]="'ph ph-phone'" [variant]="'tertiary'"></app-button>
            </li>
            <li>
                <app-button label="Ligar" [icon]="'ph ph-phone'" [variant]="'tertiary'"
                    (click)="makeCall()"></app-button>
            </li>
        </ul>
    </div>
</footer>